@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #a855f7;
  --primary-color-dark: #9333ea;
  --secondary-color: #ca8a04;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
  
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  
}
nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

.section {
  background-color: var(--extra-light);
}

.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
  overflow: hidden;
  border-right: .15em solid orange;
  letter-spacing: .15em;
  white-space: nowrap;
  animation: 
    typing 3.5s steps(40, end) ,blink-caret .75s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
.title span {
  font-weight: 600;
  
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.action__btns {
  display: flex;
  gap: 1rem;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.hire__me {
  background-color: var(--primary-color);
  color: #ffffff;
}

.hire__me:hover {
  background-color: var(--primary-color-dark);
}

.portfolio {
  color: var(--primary-color);
}

.portfolio:hover {
  background-color: var(--primary-color-dark);
  color: #ffffff;
}

.image {
  display: grid;
  place-items: center;
}

.image img {
  width: min(25rem, 90%);
  border-radius: 100%;
  border: 2px solid black;
  border-style: solid;
  border-color: red green blue yellow;
}

@media (width < 750px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    grid-area: 1/1/2/2;
  }

  .action__btns {
    margin: auto;
  }
}

/* about page */


.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  max-width: 1200px;
  padding: 20px;
  background-color: var(--extra-light);
  
}

.image-container {
  flex: 1;
  text-align: center;
}

.image-container img {
  width: 300px;
  border-radius: 50%;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.text-container {
  flex: 1;
  padding: 20px;
}

.text-container h2 {
  font-size: 36px;
  margin-bottom: 20px;
  animation: slideInLeft 1s ease-in-out;
}

.text-container p {
  line-height: 1.5;
  animation: fadeInUp 1s ease-in-out;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  animation: pulse 2s infinite;
}

@keyframes slideInLeft {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}

@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}
/* skill page */


.skills-expertise {
  margin: 3rem;
  padding: 50px;
  background-color: var(--extra-light);
}

.skill_container {
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  animation: fadeInDown 1s ease-in-out;
}

.skill-bar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill-bar {
  width: 45%;
  margin-bottom: 20px;
  animation: slideInUp 1s ease-in-out;
}

.skill-bar-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.skill-bar-progress {
  height: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  overflow: hidden;
  background-color: #d89910; 
  transition: width 1s ease-in-out;
  color: red;
  animation: progress 1.75s ease-in-out forwards;
}
@keyframes progress {
  from{
    width: 0;
  }to {
    width: 400px;
  }   
}

.skill-bar-progress div {
  height: 100%;
  background-color: #333;
  transition: width 0.5s ease-in-out;
}
.expertise-section {
  margin-top: 40px;
  animation: slideInLeft 1s ease-in-out;
}

.expertise-section h3 {
  margin-bottom: 20px;
}

.expertise-section ul {
  list-style: none;
  padding: 0;
}

.expertise-section li {
  margin-bottom: 10px;
  animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInDown {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes slideInUp {
  0% {
      transform: translateY(100%);
  }
  100% {
      transform: translateY(0);
  }
}

@keyframes slideInLeft {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}

/* resumepage */


.resume {
  padding: 50px;

  margin: 4rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  
}

h2 {
  margin: 2rem;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 40px;
  animation: fadeInDown 1s ease-in-out;
}

.res_section {
  margin-bottom: 40px;
  margin: 5rem;
  width: 400px;
  height: auto;
  background-color: var(--extra-light);
}

h3 {
  margin-bottom: 20px;
  animation: slideInLeft 1s ease-in-out;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  animation: fadeInUp 1s ease-in-out;
}

p {
  margin-left: 20px;
  animation: slideInRight 1s ease-in-out;
}

@keyframes fadeInDown {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes slideInLeft {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}

@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes slideInRight {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(0);
  }
}

/* projects page */


.projects {
  padding: 50px;
  background-color: var(--extra-light);
}
.card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 9px;
  background-color: var(--extra-light);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}
.card :hover{
  transform: translateY(-10px);
}

.proj_container {
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  
  text-align: center;
  margin-bottom: 40px;
  animation: fadeInDown 1s ease-in-out;
}

.project-card {
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
  animation: slideInUp 1s ease-in-out;
  border: 2px solid black;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}
.project-card :hover{
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
#image{
  width: 650px;
  height: 230px;
  border: 1px solid black;
}
.project-card img {
  width: 600px;
  height: 500px;
  object-fit: cover;
  
}

.project-card h3 {
  padding-left: 2rem;
  margin: 20px 0;
  animation: fadeInUp 1s ease-in-out;
}

.project-card p {
  width: 400px;
  margin-bottom: 20px;
  animation: fadeInUp 1s ease-in-out;
}

.project-card .button {
  width: 600px;
  display: block;
  text-align: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  animation: pulse 2s infinite;
  
  
}

@keyframes fadeInDown {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes slideInUp {
  0% {
      transform: translateY(100%);
  }
  100% {
      transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}

/* contactpage */


.contact {
  padding: 50px;
  
}

.conta_container {
  margin: 2rem;
  background-color: var(--extra-light);
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}
.conta_container :hover{
  transform: translateY(-5px);
  
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  animation: fadeInDown 1s ease-in-out;
}

.social-media {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.social-media a {
  margin: 0 10px;
}

.social-media img {
  width: 30px;
  height: 30px;
}

form {
  animation: slideInLeft 1s ease-in-out;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  animation: fadeInUp 1s ease-in-out;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  animation: fadeInUp 1s ease-in-out;
}

button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  animation: pulse 2s infinite;
}

@keyframes fadeInDown {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes slideInLeft {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}

@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}

/* footer section */
footer {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.footer_container {
  max-width: 1200px;
  margin: 0 auto;
  
}

footer p {
  margin: 0;
}